@model IEnumerable<SalesWebMVC.Models.Vendedor>
@{
    ViewData["Title"] = "Index";
}

<h2>Vendedores</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasciemnto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasciemnto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
                <a asp-action="Apagar" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
        }
    </tbody>

</table>

